.navbar_mod {
  background-color: teal;
  font-size: 22px;
}
.title_text {
  padding-left: 10px;
}
.google_logo {
  margin-left: 10px;
  height: 50px;
  margin-top: 10px;
}
.right {
  padding-right: 20px;
}
